body{

    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 1.5;

    background-color: aquamarine;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

img {
    max-width: 40%;
    margin: 0 auto;
}

/*//////////////////HEADER///////////////////////////////*/

.title{
    color: blue;
    text-align: center;
}

/*///////////////////START////////////////////////////////*/
.start{
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
}


.start__label{
padding: 10px 15px;
display: block;
cursor: pointer;

transition: background .3s ease-out;
}

.start__label:hover{
    background-color: blue;
    color: white;
    font-weight: bold;
}

.start__input{
    width: 0;
    height: 0;
    appearance: none;
}

.start__input:checked + .start__wrapper{
    display: block;
}

.start__wrapper{
    padding: 10px 15px;
    display: none;
  
}

/*///////////////////DEADLINE////////////////////////////*/

.deadline{
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
}


.deadline__label{
padding: 10px 15px;
display: block;
cursor: pointer;

transition: background .3s ease-out;
}

.deadline__label:hover{
    background-color: blue;
    color: white;
    font-weight: bold;
}

.deadline__input{
    width: 0;
    height: 0;
    appearance: none;
}

.deadline__input:checked + .deadline__wrapper{
    display: block;
}

.deadline__wrapper{
    padding: 10px 15px;
    display: none;
  
}

/*//////////////////PLAN///////////////*/

.plan{
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
}

.plan__label{
padding: 10px 15px;
display: block;
cursor: pointer;

transition: background .3s ease-out;
}

.plan__label:hover{
    background-color: blue;
    color: white;
    font-weight: bold;
}

.plan__input{
    width: 0;
    height: 0;
    appearance: none;
}

.plan__input:checked + .plan__wrapper{
    display: block;
}

.plan__wrapper{
    padding: 10px 15px;
    display: none;
  
}

/*//////////////////PART///////////////*/

.part{
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
}

.part__label{
padding: 10px 15px;
display: block;
cursor: pointer;

transition: background .3s ease-out;
}

.part__label:hover{
    background-color: blue;
    color: white;
    font-weight: bold;
}

.part__input{
    width: 0;
    height: 0;
    appearance: none;
}

.part__input:checked + .part__wrapper{
    display: block;
}

.part__wrapper{
    padding: 10px 15px;
    display: none;
  
}

/*//////////////////DONE///////////////*/

.done{
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
}

.done__label{
padding: 10px 15px;
display: block;
cursor: pointer;

transition: background .3s ease-out;
}

.done__label:hover{
    background-color: blue;
    color: white;
    font-weight: bold;
}

.done__input{
    width: 0;
    height: 0;
    appearance: none;
}

.done__input:checked + .done__wrapper{
    display: block;
}

.done__wrapper{
    padding: 10px 15px;
    display: none;
  
}

/*///////////////FOOTER////////////////////////////////*/

.footer {
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer__list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 0;
  margin-bottom: 0;
}

.footer__date {
  text-align: center;
  font-size: 16px;
}

.footer__item{
    list-style: none;
}